
* {
    margin:0;
    padding:0;
    overflow:hidden;
}

@font-face{
    font-family:"Sketched";
    src:url("assets/font/Sketched.ttf") format("truetype");
}

@font-face{
    font-family:"Sketchy";
    src:url("assets/font/Sketchy.ttf") format("truetype");
}

body {
    filter: invert(0);
}

canvas {
    background-color:black;
}